<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/nav.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Aprende y Gana</title>
</head>

<body>
  <nav>
    <ul>
      <li class="logo"><img src="../static/images/logo2.png" alt="logo"></li>
      <li class="item"><a class="active" href="#">Inicio</a></li>
      <li class="item"><a href="#">Se Socio</a></li>
      <li class="item"><a href="#">Comunidad</a></li>
      <li class="item"><a href="#">Contacto</a></li>
      <li class="item"><a href="../static/html/login.html">Iniciar Sesión</a></li>
      <li class="item"><a href="../static/html/register.html">Regístrate</a></li>
      <li class="btn-menu"><img src="../static/images/menu.png" alt="menu"></li>
    </ul>
  </nav>

  <header>

    <div class="line-header">
      <h3>Única inversión y 100% de ventas para ti!</h3>
    </div>

    <div class="fondo1">
      <p>
        Inicia tu negocio digital vendiendo y obteniendo 100% de las ganancias
        sin salir de casa, de manera sencilla y efectiva
      </p>
      <img src="../static/images/boton sin fondo.png" alt="Comienza Ahora">
    </div>

    <script src="../static/js/prueba.js"></script>
  </header>

  <main>
    <section class="fondo2">
      <div class="info">
        <div class="title">
          <h1><b>¿EN QUÉ CONSISTE?</b></h1>
        </div>
        <div class="item">
          <h2 class="item1-margin">Inicio</h2>
          <h4 class="item1">
            Hazte socio adquiriendo uno de nuestros cursos, tendrás acceso a este y
            además podrás ganar revendiendolos
          </h4>
        </div>
        <div class="item">
          <h2 class="item2-margin">Aprende</h2>
          <h4 class="item2">
            Ponemos a tu disposición cursos completos que potenciarán tus capacidades
            en el mundo digital y te ayudará a maximizar tus ventas
          </h4>
        </div>
        <div class="item">
          <h2 class="item3-margin">Gana</h2>
          <h4 class="item3">
            Se socio y comienza a ganar dinero inmediatamente revendiendo los cursos
            que compraste con ganancias de reventa del 100%
          </h4>
        </div>
        <div class="item">
          <h2 class="item4-margin">Beneficios</h2>
          <h4 class="item4">
            Acceso a una cuenta empresarial personalizada que te ayudará a administrar
            tus ventas; además como socio diamante accederás a muchos premios
          </h4>
        </div>
      </div>
      <div class="form">
        <h2>Regístrate Ahora</h2>
        <form action="">
          <h3>Registro</h3>
          <input type="text" name="Nombre Apellido" placeholder="Nombre y Apellido" id="name">
          <input type="email" name="Correo" placeholder="Correo" id="email">
          <input type="text" name="Usuario" placeholder="Usuario" id="username">
          <input type="password" name="Contraseña" placeholder="Contraseña" id="password">
          <p>Estoy de acuerdo con los <br> <a href="#">Terminos y Condiciones</a></p>
          <input id="registrar" type="button" value="Registrar" onclick="register()">
          <p><a href="#">¿Ya tengo Cuenta?</a></p>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <p>Copyright 2021</p>
    <p class="Company"><b>WINLEARN</b></p>
  </footer>

  <script src="../static/js/register.js"></script>
</body>

</html>